*.js
!lambda/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# dotnet install directory
.dotnet/

 # Visual Studio 2015 cache/options directory
.vs/

# Visual Studio Code cache/options directory
.vscode/